body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

.navbar-expand-sm {
  font-size: 40px;
  border-bottom: 1px solid white;
  background-color: #2c2a2a !important;
}

.navbar-expand-sm:hover {
  background-color: black !important;
}

.navbar-brand {
  font-size: 40px;
  font-family: "Shadows Into Light", cursive;
  margin-left: 150px;
  color: #ED0F0F !important;
}

.navbar-brand:hover {
  border-bottom: 1px solid #f2efe8;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
  font-family: "Almarai", sans-serif;
}

.navbar-collapse a {
  margin-right: 90px;
  color: #f2efe8 !important;
}

.navbar-collapse a:hover {
  border-bottom: 1px solid #f2efe8;
  padding-bottom: 0;
}

.navbar-collapse span {
  color: #ED0F0F;
  font-family: "Shadows Into Light", cursive;
}

.navbar-toggler {
  background-color: #F88F55;
}

.intro {
  color: white;
  background-color: black;
  height: 600px;
  padding-left: 200px;
  padding-top: 250px;
}

.heading {
  font-size: 72px;
  font-family: "Almarai", sans-serif;
}

.intro_name span {
  color: #ED0F0F;
  font-family: "Shadows Into Light", cursive;
}

@media screen and (max-width: 570px) {
  .navbar-brand {
    margin-left: 20px;
  }

  .navbar-collapse a {
    font-size: 20px;
  }

  .navbar-toggler {
    margin-right: 20px;
  }

  .heading {
    font-size: 36px;
  }

  .intro {
    padding-left: 20px;
  }
}
.about {
  height: 530px;
  background-color: #F88F55;
}

.about_heading {
  text-align: center;
  padding-bottom: 10px;
  font-size: 60px;
  font-family: "Almarai", sans-serif;
}

.about_heading span {
  color: #ED0F0F;
  font-family: "Shadows Into Light", cursive;
}

.about_main {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.about_img {
  height: 350px;
  border: 1px solid #2c2a2a;
  border-radius: 25px;
}

.about_para {
  height: 350px;
  width: 350px;
  font-family: "Shadows Into Light", cursive;
  font-size: 20px;
}

@media screen and (max-width: 570px) {
  .about {
    height: 800px;
  }

  .about_main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about_img {
    margin-bottom: 20px;
  }
}
.port {
  height: 1200px;
  background-color: black;
}

.port_heading {
  text-align: center;
  color: #f2efe8;
  padding-bottom: 10px;
  font-size: 60px;
  font-family: "Almarai", sans-serif;
}

.port_heading span {
  color: #ED0F0F;
  font-family: "Shadows Into Light", cursive;
}

.port_main {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #f2efe8;
}

.port_main_img {
  height: 350px;
  width: 350px;
  border: 1px solid #f2efe8;
}

.port_main_descrip {
  height: 350px;
  width: 350px;
  margin-top: 30px;
}

.port_main_img {
  border-radius: 25px;
}

.port_main_name {
  color: #f2efe8;
  margin-bottom: 20px;
}

.port_main_para {
  color: #f2efe8;
  margin-bottom: 40px;
}

.btn-warning {
  background-color: #F88F55;
  border-radius: 25px;
  width: 100px;
}

.btn-warning:hover {
  background-color: #ED0F0F;
}

@media screen and (max-width: 570px) {
  .port_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
  }

  .port_main_para {
    margin-bottom: 10px;
  }

  .btn-warning {
    margin-top: 40px;
  }
}
.contact {
  height: 650px;
  background-color: black;
}

.contact_heading {
  text-align: center;
  color: #f2efe8;
  padding-bottom: 10px;
  font-size: 60px;
  font-family: "Almarai", sans-serif;
  padding-top: 50px;
}

.contact_heading span {
  color: #ED0F0F;
  font-family: "Shadows Into Light", cursive;
}

.contact_form {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f2efe8;
  margin-top: 100px;
  margin-bottom: 10px;
}

.form_inputs {
  border-radius: 10px;
  width: 30%;
  margin-bottom: 50px;
}

.form_message {
  height: 100px;
}

.form_label {
  font-size: 30px;
}

.foot {
  padding-bottom: 50px;
}

.foot_heading {
  color: #ED0F0F;
  font-family: "Shadows Into Light", cursive;
  text-align: center;
  margin-bottom: 20px;
}

.foot_link {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.foot a {
  text-decoration: none;
  color: #f2efe8;
}

@media screen and (max-width: 570px) {
  .contact_form {
    height: 350px;
    margin-top: 50px;
  }

  .form_inputs {
    width: 45%;
    margin-bottom: 20px;
  }
}